In [ ]:
pip install nba_api

In [2]:
from nba_api.stats.endpoints import leaguegamefinder

In [3]:
# d'apres la documenttaion , nba id = 00 ( LIEN : https://github.com/swar/nba_api/blob/master/docs/nba_api/stats/library/parameters.md#LeagueID)
gamefinder = leaguegamefinder.LeagueGameFinder(date_from_nullable='01/31/2020' , league_id_nullable='00')
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42022,1610612737,ATL,Atlanta Hawks,0042200114,2023-04-23,ATL vs. BOS,L,240,121,...,0.875,11,31,42,25,8,4,12,24,-8.0
1,42022,1610612739,CLE,Cleveland Cavaliers,0042200134,2023-04-23,CLE @ NYK,L,240,93,...,0.789,7,26,33,24,3,5,12,23,-9.0
2,42022,1610612743,DEN,Denver Nuggets,0042200144,2023-04-23,DEN @ MIN,L,265,108,...,0.667,10,37,47,21,6,5,11,23,-6.0
3,42022,1610612750,MIN,Minnesota Timberwolves,0042200144,2023-04-23,MIN vs. DEN,W,265,114,...,0.773,14,37,51,23,6,7,11,19,6.0
4,42022,1610612738,BOS,Boston Celtics,0042200114,2023-04-23,BOS @ ATL,W,240,129,...,0.840,9,40,49,25,4,5,16,23,8.0

In [4]:
games.shape

(8834, 28)

In [5]:
games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [6]:
games = games[['TEAM_NAME', 'GAME_ID','GAME_DATE', 'MATCHUP', 'WL' ,'PLUS_MINUS' ]]

In [7]:
games

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS
0,Atlanta Hawks,0042200114,2023-04-23,ATL vs. BOS,L,-8.0
1,Cleveland Cavaliers,0042200134,2023-04-23,CLE @ NYK,L,-9.0
2,Denver Nuggets,0042200144,2023-04-23,DEN @ MIN,L,-6.0
3,Minnesota Timberwolves,0042200144,2023-04-23,MIN vs. DEN,W,6.0
4,Boston Celtics,0042200114,2023-04-23,BOS @ ATL,W,8.0
...,...,...,...,...,...,...
8829,Dallas Mavericks,0021900722,2020-01-31,DAL @ HOU,L,-7.0
8830,New Orleans Pelicans,0021900723,2020-01-31,NOP vs. MEM,W,28.0
8831,Chicago Bulls,0021900721,2020-01-31,CHI @ BKN,L,-15.0
8832,Milwaukee Bucks,0021900724,2020-01-31,MIL vs. DEN,L,-12.0
8833,Toronto Raptors,0021900720,2020-01-31,TOR @ DET,W,13.0

In [ ]:
# final dataframe ; one row for one game
#                   two columns : 1.result of game :target , 2.score stat comapring two teams: feature

In [8]:
import pandas as pd
games.info()

# we need to convert the game_date type to date time format

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8834 entries, 0 to 8833
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM_NAME   8834 non-null   object
 1   GAME_ID     8834 non-null   object
 2   GAME_DATE   8834 non-null   object
 3   MATCHUP     8834 non-null   object
 4   WL          8834 non-null   object
 5   PLUS_MINUS  8834 non-null   float64
dtypes: float64(1), object(5)
memory usage: 414.2+ KB

In [9]:
games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

In [11]:
games.GAME_DATE

0      2023-04-23
1      2023-04-23
2      2023-04-23
3      2023-04-23
4      2023-04-23
          ...
8829   2020-01-31
8830   2020-01-31
8831   2020-01-31
8832   2020-01-31
8833   2020-01-31
Name: GAME_DATE, Length: 8834, dtype: datetime64[ns]

In [12]:
games = games.sort_values('GAME_DATE')

In [13]:
games

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS
8833,Toronto Raptors,0021900720,2020-01-31,TOR @ DET,W,13.0
8820,Houston Rockets,0021900722,2020-01-31,HOU vs. DAL,W,7.0
8821,Oklahoma City Thunder,0021900725,2020-01-31,OKC @ PHX,W,4.0
8822,Phoenix Suns,0021900725,2020-01-31,PHX vs. OKC,L,-4.0
8823,Detroit Pistons,0021900720,2020-01-31,DET vs. TOR,L,-13.0
...,...,...,...,...,...,...
4,Boston Celtics,0042200114,2023-04-23,BOS @ ATL,W,8.0
3,Minnesota Timberwolves,0042200144,2023-04-23,MIN vs. DEN,W,6.0
2,Denver Nuggets,0042200144,2023-04-23,DEN @ MIN,L,-6.0
1,Cleveland Cavaliers,0042200134,2023-04-23,CLE @ NYK,L,-9.0
0,Atlanta Hawks,0042200114,2023-04-23,ATL vs. BOS,L,-8.0

In [16]:
# calculate for each team the mean of plus minus score for the last 30 game
#closed= 'left' that mean without counting the current game 
games['avg_30_plus_minus'] = games.groupby('TEAM_NAME')['PLUS_MINUS'].transform(lambda x:  x.rolling(30 , closed='left').mean())

In [17]:
# here the first 30 row in the colone avg_30_plus_minus show NAN values because we needthe the avg of the last 30 game , for example for the row number 18 , we have not reach the game 30 to calculate the avg n fior that there is enght data 
games[games['TEAM_NAME']=='Toronto Raptors'].head(35)

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
8833,Toronto Raptors,0021900720,2020-01-31,TOR @ DET,W,13.0,NaN
8799,Toronto Raptors,0021900740,2020-02-02,TOR vs. CHI,W,27.0,NaN
8752,Toronto Raptors,0021900758,2020-02-05,TOR vs. IND,W,1.0,NaN
8724,Toronto Raptors,0021900772,2020-02-07,TOR @ IND,W,9.0,NaN
8706,Toronto Raptors,0021900781,2020-02-08,TOR vs. BKN,W,1.0,NaN
8680,Toronto Raptors,0021900796,2020-02-10,TOR vs. MIN,W,11.0,NaN
8646,Toronto Raptors,0021900809,2020-02-12,TOR @ BKN,L,-10.0,NaN
8600,Toronto Raptors,0021900829,2020-02-21,TOR vs. PHX,W,17.0,NaN
8572,Toronto Raptors,0021900843,2020-02-23,TOR vs. IND,W,46.0,NaN
8552,Toronto Raptors,0021900858,2020-02-25,TOR vs. MIL,L,-11.0,NaN
8495,Toronto Raptors,0021900879,2020-02-28,TOR vs. CHA,L,-3.0,NaN
8476,Toronto Raptors,0021900898,2020-03-01,TOR @ DEN,L,-15.0,NaN
8444,Toronto Raptors,0021900914,2020-03-03,TOR @ PHX,W,9.0,NaN
8408,Toronto Raptors,0021900929,2020-03-05,TOR @ GSW,W,8.0,NaN
8357,Toronto Raptors,0021900956,2020-03-08,TOR @ SAC,W,5.0,NaN
8352,Toronto Raptors,0021900959,2020-03-09,TOR @ UTA,W,9.0,NaN
8301,Toronto Raptors,0011900111,2020-07-24,TOR vs. HOU,W,11.0,NaN
8282,Toronto Raptors,0011900121,2020-07-26,TOR vs. POR,W,6.0,NaN
8263,Toronto Raptors,0011900129,2020-07-28,TOR @ PHX,L,-11.0,NaN
8235,Toronto Raptors,0021901243,2020-08-01,TOR vs. LAL,W,15.0,NaN
8209,Toronto Raptors,0021901250,2020-08-03,TOR @ MIA,W,4.0,NaN
8183,Toronto Raptors,0021901266,2020-08-05,TOR @ ORL,W,10.0,NaN
8159,Toronto Raptors,0021901279,2020-08-07,TOR vs. BOS,L,-22.0,NaN
8141,Toronto Raptors,0021901286,2020-08-09,TOR vs. MEM,W,9.0,NaN
8130,Toronto Raptors,0021901294,2020-08-10,TOR @ MIL,W,8.0,NaN
8102,Toronto Raptors,0021901305,2020-08-12,TOR @ PHI,W,4.0,NaN
8083,Toronto Raptors,0021901318,2020-08-14,TOR vs. DEN,W,8.0,NaN
8072,Toronto Raptors,0041900111,2020-08-17,TOR vs. BKN,W,24.0,NaN
8055,Toronto Raptors,0041900112,2020-08-19,TOR vs. BKN,W,5.0,NaN
8040,Toronto Raptors,0041900113,2020-08-21,TOR @ BKN,W,25.0,NaN
8025,Toronto Raptors,0041900114,2020-08-23,TOR @ BKN,W,28.0,7.100000
8001,Toronto Raptors,0041900211,2020-08-30,TOR vs. BOS,L,-18.0,7.600000
7993,Toronto Raptors,0041900212,2020-09-01,TOR vs. BOS,L,-3.0,6.100000
7984,Toronto Raptors,0041900213,2020-09-03,TOR @ BOS,W,1.0,5.966667
7974,Toronto Raptors,0041900214,2020-09-05,TOR @ BOS,W,7.0,5.700000

In [18]:
msk = games['MATCHUP'].str.contains('@')

In [19]:
games_away = games[msk]
games_home = games[~msk]

In [21]:
games_away.shape

(4417, 7)

In [23]:
games_home.shape

(4417, 7)

In [24]:
games_home

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
8820,Houston Rockets,0021900722,2020-01-31,HOU vs. DAL,W,7.0,NaN
8822,Phoenix Suns,0021900725,2020-01-31,PHX vs. OKC,L,-4.0,NaN
8823,Detroit Pistons,0021900720,2020-01-31,DET vs. TOR,L,-13.0,NaN
8832,Milwaukee Bucks,0021900724,2020-01-31,MIL vs. DEN,L,-12.0,NaN
8828,Los Angeles Lakers,0021900726,2020-01-31,LAL vs. POR,L,-8.0,NaN
...,...,...,...,...,...,...,...
15,Miami Heat,0042200103,2023-04-22,MIA vs. MIL,W,22.0,-1.400000
7,New York Knicks,0042200134,2023-04-23,NYK vs. CLE,W,9.0,5.033333
5,Golden State Warriors,0042200164,2023-04-23,GSW vs. SAC,W,1.0,4.733333
3,Minnesota Timberwolves,0042200144,2023-04-23,MIN vs. DEN,W,6.0,-0.933333
0,Atlanta Hawks,0042200114,2023-04-23,ATL vs. BOS,L,-8.0,1.000000

In [25]:
games_away

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
8833,Toronto Raptors,0021900720,2020-01-31,TOR @ DET,W,13.0,NaN
8821,Oklahoma City Thunder,0021900725,2020-01-31,OKC @ PHX,W,4.0,NaN
8824,Denver Nuggets,0021900724,2020-01-31,DEN @ MIL,W,12.0,NaN
8825,Portland Trail Blazers,0021900726,2020-01-31,POR @ LAL,W,8.0,NaN
8827,Memphis Grizzlies,0021900723,2020-01-31,MEM @ NOP,L,-28.0,NaN
...,...,...,...,...,...,...,...
12,Phoenix Suns,0042200174,2023-04-22,PHX @ LAC,W,12.0,3.733333
6,Sacramento Kings,0042200164,2023-04-23,SAC @ GSW,L,-1.0,2.500000
4,Boston Celtics,0042200114,2023-04-23,BOS @ ATL,W,8.0,7.466667
2,Denver Nuggets,0042200144,2023-04-23,DEN @ MIN,L,-6.0,2.633333
1,Cleveland Cavaliers,0042200134,2023-04-23,CLE @ NYK,L,-9.0,5.433333

In [26]:
games_merged = pd.merge(games_home , games_away , on='GAME_ID' , suffixes=('_home' , '_away'))

In [27]:
games_merged

,TEAM_NAME_home,GAME_ID,GAME_DATE_home,MATCHUP_home,WL_home,PLUS_MINUS_home,avg_30_plus_minus_home,TEAM_NAME_away,GAME_DATE_away,MATCHUP_away,WL_away,PLUS_MINUS_away,avg_30_plus_minus_away
0,Houston Rockets,0021900722,2020-01-31,HOU vs. DAL,W,7.0,NaN,Dallas Mavericks,2020-01-31,DAL @ HOU,L,-7.0,NaN
1,Phoenix Suns,0021900725,2020-01-31,PHX vs. OKC,L,-4.0,NaN,Oklahoma City Thunder,2020-01-31,OKC @ PHX,W,4.0,NaN
2,Detroit Pistons,0021900720,2020-01-31,DET vs. TOR,L,-13.0,NaN,Toronto Raptors,2020-01-31,TOR @ DET,W,13.0,NaN
3,Milwaukee Bucks,0021900724,2020-01-31,MIL vs. DEN,L,-12.0,NaN,Denver Nuggets,2020-01-31,DEN @ MIL,W,12.0,NaN
4,Los Angeles Lakers,0021900726,2020-01-31,LAL vs. POR,L,-8.0,NaN,Portland Trail Blazers,2020-01-31,POR @ LAL,W,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4412,Miami Heat,0042200103,2023-04-22,MIA vs. MIL,W,22.0,-1.400000,Milwaukee Bucks,2023-04-22,MIL @ MIA,L,-22.0,5.100000
4413,New York Knicks,0042200134,2023-04-23,NYK vs. CLE,W,9.0,5.033333,Cleveland Cavaliers,2023-04-23,CLE @ NYK,L,-9.0,5.433333
4414,Golden State Warriors,0042200164,2023-04-23,GSW vs. SAC,W,1.0,4.733333,Sacramento Kings,2023-04-23,SAC @ GSW,L,-1.0,2.500000
4415,Minnesota Timberwolves,0042200144,2023-04-23,MIN vs. DEN,W,6.0,-0.933333,Denver Nuggets,2023-04-23,DEN @ MIN,L,-6.0,2.633333
4416,Atlanta Hawks,0042200114,2023-04-23,ATL vs. BOS,L,-8.0,1.000000,Boston Celtics,2023-04-23,BOS @ ATL,W,8.0,7.466667

In [28]:
games_merged['avg_30_plus_minus_diff'] = games_merged['avg_30_plus_minus_home']-games_merged['avg_30_plus_minus_away']

In [29]:
games_merged

,TEAM_NAME_home,GAME_ID,GAME_DATE_home,MATCHUP_home,WL_home,PLUS_MINUS_home,avg_30_plus_minus_home,TEAM_NAME_away,GAME_DATE_away,MATCHUP_away,WL_away,PLUS_MINUS_away,avg_30_plus_minus_away,avg_30_plus_minus_diff
0,Houston Rockets,0021900722,2020-01-31,HOU vs. DAL,W,7.0,NaN,Dallas Mavericks,2020-01-31,DAL @ HOU,L,-7.0,NaN,NaN
1,Phoenix Suns,0021900725,2020-01-31,PHX vs. OKC,L,-4.0,NaN,Oklahoma City Thunder,2020-01-31,OKC @ PHX,W,4.0,NaN,NaN
2,Detroit Pistons,0021900720,2020-01-31,DET vs. TOR,L,-13.0,NaN,Toronto Raptors,2020-01-31,TOR @ DET,W,13.0,NaN,NaN
3,Milwaukee Bucks,0021900724,2020-01-31,MIL vs. DEN,L,-12.0,NaN,Denver Nuggets,2020-01-31,DEN @ MIL,W,12.0,NaN,NaN
4,Los Angeles Lakers,0021900726,2020-01-31,LAL vs. POR,L,-8.0,NaN,Portland Trail Blazers,2020-01-31,POR @ LAL,W,8.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4412,Miami Heat,0042200103,2023-04-22,MIA vs. MIL,W,22.0,-1.400000,Milwaukee Bucks,2023-04-22,MIL @ MIA,L,-22.0,5.100000,-6.500000
4413,New York Knicks,0042200134,2023-04-23,NYK vs. CLE,W,9.0,5.033333,Cleveland Cavaliers,2023-04-23,CLE @ NYK,L,-9.0,5.433333,-0.400000
4414,Golden State Warriors,0042200164,2023-04-23,GSW vs. SAC,W,1.0,4.733333,Sacramento Kings,2023-04-23,SAC @ GSW,L,-1.0,2.500000,2.233333
4415,Minnesota Timberwolves,0042200144,2023-04-23,MIN vs. DEN,W,6.0,-0.933333,Denver Nuggets,2023-04-23,DEN @ MIN,L,-6.0,2.633333,-3.566667
4416,Atlanta Hawks,0042200114,2023-04-23,ATL vs. BOS,L,-8.0,1.000000,Boston Celtics,2023-04-23,BOS @ ATL,W,8.0,7.466667,-6.466667

In [32]:
games_model = games_merged[['WL_home' , 'avg_30_plus_minus_diff']].dropna()

In [33]:
games_model

     WL_home  avg_30_plus_minus_diff
398        L               -6.233333
399        L               -5.366667
401        W                1.933333
402        L               -5.600000
403        W                2.466667
...      ...                     ...
4412       W               -6.500000
4413       W               -0.400000
4414       W                2.233333
4415       W               -3.566667
4416       L               -6.466667

[3899 rows x 2 columns]

In [34]:
games_model['WL_home'] = games_model['WL_home'].map({'W':1 , 'L':0})

In [35]:
games_model

      WL_home  avg_30_plus_minus_diff
398         0               -6.233333
399         0               -5.366667
401         1                1.933333
402         0               -5.600000
403         1                2.466667
...       ...                     ...
4412        1               -6.500000
4413        1               -0.400000
4414        1                2.233333
4415        1               -3.566667
4416        0               -6.466667

[3899 rows x 2 columns]